<section class="tw-absolute tw-flex tw-justify-center tw-items-center tw-gap-0">

</section>

{% schema %}
{
  "name": "Example section",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Example section"
    }
  ]
}
{% endschema %}